body{
    background-image: url('./Cruz.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0%;
}
.txbio{
    font-size: 48px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
p{
   color: #fff;
   font-size: 20px;
   font-style: normal;
   font-family: Arial, Helvetica, sans-serif;
}
h2{
    color:aliceblue;
    font-size: 48px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    color: #fff;
    font-size: 25px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.coluna1{
    float: left;
    background-color: black;
    width: 20%;
    height: 50px;
}
.coluna2{
    float: left;
    background-color: black;
    width: 20%;
}
.coluna3{
    float: left;
    background-color: black;
    width: 20%;
}
.coluna4{
    float: left;
    background-color: black;
    width: 20%;
}
.coluna5{
    float: left;
    background-color: black;
    width: 20%;
}
.crucificaçao{
   color: #fff;
   font: size 25px;
   font-style: normal;
   font-family: Arial, Helvetica, sans-serif;
}
.mandamento1{
    font-size: 20px;
    font-style: normal;
    color:rgb(255, 0, 0);
}
.mandamento2{
    font-size: 20px;
    font-style: normal;
    color:rgb(255, 0, 0);
}
footer {
	background-color: black;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}
.direitosfaixa{
    background-color:red;
    text-align: center;
    width:100%;
    padding: 10px;
    font-size: 20px;
}