body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(222, 222, 222);

}
.destaque{
    position: relative;
    background-image: url(../images/banner.jpg);
    width: 80%;
    height: 455px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    left: 150px;
    bottom: -65px;
    border-radius: 10px;
}
.coluna1{
    background-color: yellow;
    width: 100px;
    height: 80;
    
}
.coluna1{
    position: absolute; 
}
.destaque p {
    position: absolute;
    font-size: 50px;
    color: aliceblue;
    bottom: 110px;
    font-family:'Franklin Gothic Medium';
    left: 80px;
    
}
.destaque a {
    position: absolute;
    font-size: 24px;
    color: aliceblue;
    bottom: 70px;
    font-family: 'Franklin Gothic Medium';
    left: 80px;
    background-color: rgb(8, 228, 0);
    border-radius: 40px;
    text-decoration: none;
    padding-left: 20px;
    padding: 10px;    
}
.transparente{
    position: absolute;
    width: 100%;
    height: 455px;
    background-color: black;
    opacity: 0.1;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 35%, rgbrgb(0, 0, 0)0%);
}
.video{
    position: absolute;
    left: 600px;
    top: 50px;
}
video{
    position: absolute;
    border-radius: 10px;
    width: 550px;
    left: 40px;
    top: -10px;
}
.logo img { 
    position: relative;
    left: 80px;
    bottom: -60px;
    width: 150px;
    height: 65px;

}
.acessar{
    position: absolute;
    background-color: gray;
}
.destaque2{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 350px;
    left: 150px;
    top: 100px;
    border-radius: 10px;
}
.destaque2 p{
    position: absolute;
    color: black;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    top: 10px;
    left: 40px;
}
.metade0{
    position: relative;
    width: 45%;
    height: 250px;
    background-image: url(/BANNERS/images/banner1.png);
    left: 40px;
    top: 70px;
    border-radius: 10px;
}
.tranparent0{
    position: absolute;
    width: 100%;
    height: 250px; 
    opacity: 0.1;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,180,255,0.13435085948441872) 35%, rgba(0,212,255,1) 100%);
}
.metade1{
    position: absolute;
    width: 45%;
    height: 250px;
    background-image: url(/BANNERS/images/banner2.png);
    left: 610px;
    top: 70px;
    border-radius: 10px;
}
.tranparent1{
    position: absolute;
    width: 100%;
    height: 250px;
    opacity: 0.5;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,13,255,0.6133424561230743) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}
.metade0 img{
    position: absolute;
    bottom: 35px;
    left: 20px;
}
.plano{
    position: absolute;
    color: white;
    top: 180px;
    left: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.metade0 p{
    position: absolute;
    color: white;
    top: 130px;
    left: 110px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px
}
.metade1 p{
    position: absolute;
    color: white;
    top: 130px;
    left: 110px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
}
.metade1 img{
    position: absolute;
    bottom: 35px;
    left: 20px;
}
.max{
    position: absolute;
    color: white;
    top: 180px;
    left: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}